
/*商品列单*/
.list-left{
    width: 234px;
    height: 460px;
    background: rgb(12,12,19);
    position: relative;
}
.list-left ul {
  padding: 60px 0; 
}
.list-left ul li {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  font-size: 14px;
}
.list-left ul li:hover {
  background: #FF6700; 
}
.list-left ul li a {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  }
.box_hidden{
    width: 800px;
    height:460px;
    background: #fff;
    border-top: 1px solid #cfcfcf;
    box-shadow: 1px 2px 4px #eaeaea;
    position: absolute;
    left:234px;
    top:0;
    display: none;
    z-index: 10000;
}
.list-left li:hover .box_hidden{
    display: block;
}
.box_hidden div span{
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}
.box_hidden div a.btn{
    display: inline-block;
    color:#FF6700;
    border:1px solid #FF6700;
}
.box_hidden .lt{
    width: 260px;
}
.list-right{
    width: 991px;
    height: 460px;
}
.sub_banner{
    width: 1226px;
    height:170px !important;
    margin: 0 auto;
    margin-top: 30px;
}
.sub_b1{
    width: 205px;
    height:170px;
}
.my_opc{
    opacity: 0.8;
}
.sub_b1 .row .col-4 img:hover{
    opacity:1;
}
.sub_b1 .row .col-4 img{
    opacity: 0.8;
}
.sub_b2 img,.sub_b3 img,.sub_b4 img{
    width:316px;
    height:170px;
}
.sub_b2:hover, .sub_b3:hover, .sub_b4:hover {
    opacity: 1; }
.danpin{
    width:1226px;
    height:auto;
    margin:0 auto ;
}
.danpin .flex-box div{
    width: 234px;
    height: 315px;
    background: rgb(250,250,250);
}
.danpin div a img{
    width: 160px;
    height: 160px;
}
.border1{
    border-top:2px solid #FFA500;
}
.border2{
    border-top:2px solid #008000;
}
.border3{
    border-top:2px solid #0000FF;
}
.border4{
    border-top:2px solid #FF0000;
}
.border5{
    border-top:2px solid #008080;
}
.my_font{
    color:#AAAAAA;
    font-size: 12px;
}
.font_color{
    color:#FF6700;
}
.danpin a{
    color: #000;
}
.danpin a:hover{
    text-decoration: none;
    color: #FF6700;
}
.danpin a img{
    margin-top: 28px;
}
.danpin a img:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
}
.peijian{
    background: rgb(250,250,250);
    width: 1226px;
    margin: 0 auto;
}
.box_style{
    width: 234px;
    height: 300px;
    background: #fff;
    text-align: center;
    position: relative;
}
.last_box{
    height: 142px;
    background: #fff;
}
.new_p span{
    display: block;
    height: 20px;
    width: 65px;
    line-height: 20px;
    font-size: 10px;
    background: #83c44e;
    margin: 0 auto;
    color:#fff;
}
.peijian a{
    color: #000;
}
.peijian a:hover{
    text-decoration: none;
    color: #FF6700;
}
.peijian .box_style a img:hover{
    transform: translate(1px,-1px);
    transition: 1ms;
    box-shadow:3px 3px 4px 6px #ededed;
}
.box_hover:hover{
    transform: translate(1px,-1px);
    transition: 1ms;
    box-shadow:3px 3px 4px 6px #ededed;
    
}
.box_hover:hover .hover_box{
    display: block;
}
.hover_box{
    width: 100%;
    height: 60px;
    background-color: #ff6700;
    font-size: 12px;
    padding: 18px 0 60px 0;
    position: absolute;
    bottom: 0px;
    display: none;
}
.hover_box span{
    display: block;
    margin-top: 3px;
}
s{
    text-decoration: line-through;
    color: #a3a3a3;
    font-size: 14px;
}
.text-center h5{
    margin-top: 14px;
}
.danpin .text-center>span{

    display: block;
    height: 20px;
    width: 65px;
    line-height: 20px;
    font-size: 10px;
    background: #83c44e;
    margin: 0 auto;
    color:#fff;

}
